@import 'bulma';
@import 'bulma-slider';

button.closeModal {
  margin-left: 255px;
}

.loginsubmit {
  width: 280px;
  margin-top: 10px;
}


@import '~pretty-checkbox/src/pretty-checkbox.scss';

.navbar-item{
  $navbar-item-img-max-height: 100px;
}

.homepage-container {
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: -10px;
}

.side-map {
  background-color: grey;
  margin-right: 25px;
  border-radius: 5px;
  background:#f0f0f0;
}

div.column.is-two-thirds-tablet.is-two-thirds-widescreen.is-two-thirds-desktop.top-burgers {
  margin-left: 25px;
}

div.card-content {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 5px;
}

div.card-header-title {
  padding: 8px;
}

span {
img.icon{
 margin-left: 2px;
 margin-right: 2px;
}
}


.top-burgers {
  margin-right: 20px;
}

.card-equal-height {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.card .card-image,{
  height: 200px;
}

.card .card-image .image img {
   height: 200px;
   object-fit: cover;
}

.section-new-page {
  display: flex;
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.option {
  padding-bottom: 10px;
  width: 230px;
}

.beerbutton {
}

.new-page {
  display: flex;
  flex-wrap: wrap;
}

.upload-box {
  width: 270px;
  height: 184px;
  background-color: grey;
  margin-right: 25px;
  border-radius: 5px;
  background:#f0f0f0;
  box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
}


.price-field {
  margin-left: 20px;
}

.rating-price {
  display: flex;
}

.vegeterian-field {
  width: 208px;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
}
.login-button.login-portal{
  margin: 0px;
  padding: 0px;
}

.registerbutton, .loginbutton {
  width: 80px;
  margin-top: 5px;
}

h1.title.toprated {
  margin-left: 60px;
  margin-top: 30px;
}

h1.title.toprated {
  margin-left: 60px;
  margin-top: 30px;
}

.vegan {
  display: flex;
  flex-wrap: wrap;
}

.custom {
  font-size: 48px;
}


#progress {
  font-size: 8.5px;
}

#progressonedit {
  font-size: 8.5px;
  margin: auto;
}

.vegeterian-field-index {
  width: 150px;
}

.five{
  margin-left: 685px;
}


.vegeterian-field-index {
  width: 150px;
}

.map {
  margin: auto;
}

h3.title.name {
  margin-bottom: 0;
}
h2.content.text {
  margin-bottom: 0;
}

button.raterbutton {
  display: block;
  margin-top: 15px;
}
.uploadbutton {
  margin-left: 105px;
  padding-top: 75px;
}

a.button.is-warning.is-fullwidth {
  font-size: 20px;
}

span {
img.image.is-48x48 {
 margin-left: 2px;
 margin-right: 2px;
 margin-top: 10px;
 margin-bottom: 10px;
}
}



// Beer PopOut Styles

.containerModalBeer {
  padding: 20px;
  border-radius: 30px;
  background-color: #FF3860;
  color: white;
  position:absolute;
  top:50%;
  left:50%;
  width:700px;
  height: auto;
  z-index: 10;
}

.beer-match {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  position:absolute;
    z-index: 1;
}

@media (max-width: 375px) {
.containerModalBeer {
    width:auto;
  }
}

article.tile.is-child.notification {
  padding: 20px 20px 20px 20px;
}

.ReactModal__Overlay{
  z-index: 10;
}

/* !!!BEWARE - Removes blue Chrome default border but creates ACCESSIBILITY issues BEWARE!!!*/
.containerModalBeer:focus {
  outline: 0;
}

button.button.is-success {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

section.section.login-portal {
  padding: 0px;
}

@media (min-width: 1000px) {
button.button.is-primary.is-danger.loginbutton {
  margin-top: -45px;
  }
button.button.is-info.registerbutton {
  margin-top: -78px;
}
}

.burgerdescription {
  padding-left: 20px;
}

.tags {
  margin-top: 10px;

  .tag {
    font-size: 20px;
  }
}


.closeModalbeer {
  background-color: #FFDD57;
  color: white;
  border-radius: 5px;
  display: flex;
  float: right;
  border-style: none;
  height: 20px;
}

.titlebeerModal {
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

.subtitlebeer {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

// Burger card
.card-header-title {
  padding: 0;
}


//pour beer
$white: #FFFBEF;
$drink: #FAAF25;
$circle: 50%;

* {
  box-sizing: border-box;
}

.beerbox {
  position: relative;
  width: 200px;
  height: 200px;
  background: none;
  display: block;
  margin: 10% auto 0;
}

.beer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
}

.cup {
  position: absolute;
  left: 15%;
  bottom: 0;
  width: 60%;
  height: 75%;
  background: none;
  border: 8px solid $white;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 10px;
}

div.card-content {
  padding: 8px;
}

div.card-header-title {
  padding: 8px;
}

.liquid {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 90%;
  height: 80%;
  background: $drink;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}

.stripe-1 {
  position: absolute;
  bottom: 19%;
  left: 18%;
  width: 8%;
  height: 60%;
  border-radius: 50px;
  background: $white;
}

.stripe-2 {
  position: absolute;
  bottom: 19%;
  left: 45%;
  width: 9%;
  height: 60%;
  border-radius: 50px;
  background: $white;
}

.stripe-3 {
  position: absolute;
  bottom: 19%;
  right: 18%;
  width: 8%;
  height: 60%;
  border-radius: 50px;
  background: $white;
}

.cup-holder {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 35%;
  height: 45%;
  background: none;
  border: 8px solid $white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: $circle;
  -webkit-clip-path: polygon(56% 0, 100% 0, 100% 100%, 56% 100%);
  clip-path: polygon(56% 0, 100% 0, 100% 100%, 56% 100%);
}

.foam {
  position: absolute;
  left: 15%;
  top: 8%;
  width: 60%;
  height: 25%;
  transform: scale(1.1);
}

.foam-1 {
  position: absolute;
  left: 8%;
  bottom: -2%;
  width: 32%;
  height: 70%;
  border-radius: $circle;
  border-bottom-left-radius: 0;
  border: 8px solid $white;
  -webkit-clip-path: polygon(0 65%, 0 0, 75% 0, 75% 25%);
  clip-path: polygon(0 65%, 0 0, 75% 0, 75% 25%);
}

.foam-2 {
  position: absolute;
  left: 29%;
  bottom: 0;
  width: 40%;
  height: 85%;
  border-radius: $circle;
  border: 8px solid $white;
  -webkit-clip-path: polygon(0 45%, 0 0, 100% 0, 100% 45%);
  clip-path: polygon(0 45%, 0 0, 100% 0, 100% 45%);
}

.foam-3 {
  position: absolute;
  right: 10%;
  bottom: -2%;
  width: 32%;
  height: 70%;
  border-radius: $circle;
  border-bottom-left-radius: 0;
  border: 8px solid $white;
  -webkit-clip-path: polygon(0 65%, 0 0, 75% 0, 75% 25%);
  clip-path: polygon(0 65%, 0 0, 75% 0, 75% 25%);
  transform: scaleX(-1);
}

.bubbles-1 {
  position: absolute;
  top: 5%;
  right: 38%;
  width: 8%;
  height: 8%;
  background: $white;
  border-radius: $circle;
  transition: all 0.5s;
  animation: bubbling 2s infinite linear;
}

.bubbles-2 {
  position: absolute;
  top: 0%;
  left: 38%;
  width: 8%;
  height: 8%;
  background: $white;
  border-radius: $circle;
  transition: all 0.5s;
  animation: bubbling 1s infinite linear;
}

.bubbles-3 {
  position: absolute;
  top: 0%;
  left: 25%;
  width: 8%;
  height: 8%;
  background: $white;
  border-radius: $circle;
  transition: all 0.5s;
  animation: bubbling 2s infinite linear;
}

@keyframes bubbling {
  0% {
    transform: scale(1) tanslateY(0);
  }

  100%{
     transform: scale(0) translate(0, -250px)
  }
}

.linebreaker {
  margin-top: 5px;
  margin-bottom: 5px;
}

.aboutus {
  margin-top: 25px;
}
