
button.closeModal {
  margin-left: 180px;
}

@import '~pretty-checkbox/src/pretty-checkbox.scss';

.option {
  padding-bottom: 10px;
  width: 190px;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;

}
.login-button .login-portal{
  margin: 0px;
  padding: 0px;
}

.registerbutton, .loginbutton {
  width: 180px;
}

h1.title.toprated {
  margin-left: 60px;
  margin-top: 30px;
}

.vegan {
  display: flex;
  flex-wrap: wrap;
}


@import 'bulma'
