
button.closeModal {
  margin-left: 180px;
}

@import '~pretty-checkbox/src/pretty-checkbox.scss';

.option {
  padding-bottom: 10px;
  width: 190px;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
}

.vegan {
  display: flex;
  flex-wrap: wrap;
}

.rating-show {
  font-size: 150px;
}

@import 'bulma'
